.app-container{
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-sm-bg.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .app-container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
    background-size: cover;
  }
}
.heading{
    font-size: 50px;
    font-weight: 700;
    color: beige;
}
.description{
    color: white;
}